/* 京东首页css */
/* 仅写首页独有的样式 */

.fs {
    height: 480px;
    position: relative;
    
}
.fs_inner {
    position: relative;
    height: 480px;
    /* background-color: orange; */
    z-index: 11;
}
.ad {
    width: 100%;
    height: 710px;
    position: absolute;
    top: -100px;
    left: 0;
    background: url(../images/fly.png) no-repeat top center;
}
.ad a {
    display: block;
    width: 100%;
    height: 100%;
}
.fs_inner_cols1 {
    height: 470px;
    width: 190px;
    padding-top:10px;
    float: left;
    background-color: #fff;
}
.fs_inner_cols1 li{
    font-size: 0px;
    height: 26px;
    line-height: 26px;
    padding-left:18px;
    width: 172px;
}
.fs_inner_cols1 a, .fs_inner_cols1 span {
    color:#626262;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.fs_inner_cols1 a:hover {
    color:#f10215;
}


.fs_inner_cols2 {
    width: 580px;
    height: 480px;  
    float: left;
    margin: 0 10px;
}
.arr-l {
    float: left;
    width: 30px;
    height: 60px;
    position: absolute;
    background-color: black;
    top:50%;
    margin-top:-40px;
}

.arr-r {

    right: 0;
}

.fs_inner_cols2>a {
    width: 30px;
    height: 60px;
    position: absolute;
    background:rgba(0, 0, 0, 0.3);
    top:50%;
    margin-top:-40px;
    z-index: 11;
}
.fs_inner_cols2 .iconfont {
    font-family: "iconfont";
    font-size: 16px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.4);
    line-height: 60px;
    text-align: center;
}

.yuandian{
    height: 18px;
    width: 150px;
    position: absolute;
    left:50%;
    margin-left: -75px;
    bottom: 20px;
    background-color:rgba(255, 255, 255, 0.1);
    z-index: 11;

}


.yuandian li {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 12px;
    display: inline-block;
    margin: 1px 1px;
}

.yuandian a{
    display: block;
    height: 12px;
}


.fs_inner_cols3 {
    height: 470px;
    width: 190px;
    float: left;
    padding-top: 10px;
}
.fs_inner_cols3 img {
    height: 150px;
    width: 190px;
    float: left;
    display: block;
    margin-bottom: 10px;
}

.fs_inner_cols4 {
    background-color: #fff;
    height: 470px;
    width: 190px;
    float: right;
    margin-top: 10px;
}
.fs_inner_user {
    width: 190px;
    height: 140px;
    /* background-color: pink; */
    float: right;
    position: relative;
}

.user_nologin {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left:-27px;
    /* background-color: pink; */
    border-radius: 55px;
    border: 5px solid #e3e1df;
    box-shadow: 3px 6px 25px #c3c3c3;
    overflow: hidden;

}
.user_nologin img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* display: block; */
    vertical-align: middle;
}

.fs_inner_news {
    padding-top:8px;
    width: 190px;
    height:122px;
    float: right;

}
.fs_inner_service {
    width: 190px;
    height: 210px;
    
    float: right;
}

.user_inner {
    height: 78px;
    width: 190px;
    padding-top: 62px;
    

}
.user_inner p {
    margin:0;
    text-align: center;
    color:#666666;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
.user_profit {
    text-align: center;
    margin-top: 10px;
    

}
.user_inner p>a {
    color:#666666;
    font-size: 12px;
}

.user_profit a {
    display: inline-block;
    width: 60px;
    height: 25px;
    border-radius: 13px;
    margin:0 5px;
    box-shadow: 6px 8px 20px rgba(45,45,45,.15);
    font-size: 12px;
    line-height: 25px;
}
.user_pro_newer {
    color:#e43f3b;
}
.user_pro_plus {
    color:#e5d790;
    background-color: #363634;
}

.news_hd h5 {
    margin: 0;
    height: 25px;
    display: inline-block;
    padding-left: 15px;
}

.news_hd a{
    float: right;
    font-size: 12px;
    color: #666666;
    display: block;
    padding-right: 10px;

}

.news_list {
    height: 96px;
    width: 160px;
    margin: 0 15px;
    padding-top: 5px;
   
}
.news_list li{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    overflow: hidden;/*文字溢出时隐藏*/
	white-space: nowrap;/*强制在同一行显示所有文本*/
	text-overflow: ellipsis;/*溢出部分用省略号代替*/
   
}
.news_list span {
    display: inline-block;
    height: 16px;
    width: 35px;
    text-align: center; 
    background-color: #e47f7f;
    border-radius: 5px;
    line-height: 16px;
    color: #fff;

}

.news_list a {
    color: #666666;
}

.service-items {
    height: 160px;
    width: 168px;
    /* background-color:purple; */
    margin: 0 11px;
    border-top: 1px solid #666666;
    padding-top: 30px;

}

.service-items li {
    display: inline-block;
    height: 40px;
    width: 38px;
    text-align: center;
    margin-bottom: 15px;
}
.service-items a {
    color: #666;
    font-size: 12px;
    display: block;
    width: 42px;

}
.service-items a:hover {
    color:#f10215;
}

.service-items .iconfont {
    font-family: "iconfont" ;
    font-size: 25px;
    font-style: normal;
    color: #bEa68d;
    text-align: center;
    height: 24px;
    margin: auto;
}
.service-items span {
    font-size:12px;
    display: inline-block;
    text-align: center;
    color: #bEa68d;
    margin: auto;
}