/* 京东首页css */
/* 仅写首页独有的样式 */

/* 快捷导航栏 strat */

.shortcut {
    height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
    line-height: 31px;
}

.shortcut .fl li{
    color: #9d9d9d;
    font-size: 12px;
    margin-left: 200px;
}

.shortcut .fl .iconfont {
    font-family: "iconfont";
    font-size: 14px;
    font-style: normal;
    color:#f10215;
    line-height: 20px;
    text-align: center;
}

.shortcut .fr li { 
    display: inline-block;  
}

.shortcut_btn {
    padding:0 7px;
}

.shortcut .fr li a {
    font-size: 12px;
    color: #9d9d9d;
    
    
}

.shortcut .fr li a:hover {
    color: #f10215;
}

.dropdown {
    padding-right:22px;
    position: relative;
}

.dropdown .iconfont {
    font-family: "iconfont";
    font-size: 12px;
    font-style: normal;
    color:#9d9d9d;
    line-height: 31px;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 2px;

}

.spacer {
    width: 1px;
    height: 10px;
    background-color: #9d9d9d;
    margin-top: 10px 10px 0 10px;

}

.qrcode {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    padding: 3px;
    position: absolute;
    top:30px;
    right: 0;
}
.qrcode img{
    width: 60px;
    height: 60px;
}

/* 快捷导航栏 end */

/* header start */
.header {
    height: 140px;
    
}

.inner {
    height: 140px;
    /* background-color: pink; */
}

.logo {
    height: 170px;
    width: 190px;
    position: absolute;
    top:-31px;
    left: 0;
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
}
.logo h1 {
    margin: 0px;
}

.logo a{
    display: block;
    height: 170px;
    width: 190px;
    background: url(../images/jd-logo.png) no-repeat ;
    text-indent: -999px;
    overflow: hidden;

}

.search {
   width: 550px; 
   height: 35px;
   background-color: orange;
   position: absolute;
   top: 25px;
   left: 320px;

}

.search input {
    width: 450px;
    height: 25px;
    padding: 4px 44px 4px 4px;
    margin: 0px;
    border:1px solid #ffffff;
    outline: none;/* 取消蓝色边框 */

}
.search button {
    width: 50px;
    height: 35px;
    margin: 0px;
    padding: 0;
    float: right;
    background: #f10215;
    /* border:1px solid #f10215; */
    border:none;
    cursor: pointer;

    
}
.photo-icon {
    font-family: "iconfont";
    font-size: 25px;
    font-style: normal;
    color:#666;
    line-height: 35px;
    text-align: center;
    position: absolute;
    right: 65px;
    top: 0px;
    cursor: pointer;
} 
.photo-icon:hover {
    color:#f10215;
}


.search-icon {
    font-family: "iconfont";
    font-size: 20px;
    font-style: normal;
    color:#ffffff;
    line-height: 35px;
    text-align: center;
    position: absolute;
    right: 15px;
    top: 0px;
    cursor: pointer;

}

.shopping {
    width: 190px; 
    height: 35px;
    background-color: #ffffff;
    position: absolute;
    top: 25px;
    right: 95px;
    border: 1px solid #e3e4e5;
}
.shopping_in{
    width: 190px; 
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.shopping a {
    font-size: 12px;
    color: #f10215;
    
}

.shop-car{

    font-family: "iconfont";
    font-size: 20px;
    font-style: normal;
    color:#f10215;
    line-height: 35px;
    text-align: center;
    position: absolute;
    left: 40px;
    top: 0px;
    
}

.shop-bg {
    font-family: "iconfont";
    font-size: 12px;
    font-style: normal;
    color:#f10215;
    line-height: 35px;
    text-align: center;
    position: absolute;
    right: 50px;
    top: -5px;
}
.shop-count {
    font-family: "iconfont";
    font-size: 12px;
    font-style: normal;
    color:#ffffff;
    line-height: 35px;
    text-align: center;
    position: absolute;
    right: 52px;
    top: -5px;
}
.hotwords {
    width: 550px;
    height: 20px;
    position: absolute;
    left: 320px;
    top: 70px;
}
.hotwords a {
    font-size: 12px;
    color:#999999;
    margin-right:10px;
    display: block;
    float: left;
    line-height: 20px;
    font-weight: normal;
}
.hotwords a:hover {
    color: #f10215;
    cursor: pointer;
}

.treasure {
    width: 190px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right:0;
}

.treasure a {
    display: block;
    width: 190px;
    height: 40px;
    background: url(../images/quan.png) no-repeat;
}

.navitems {
    width: 790px;
    height: 40px;
    padding-top:20px;
    position: absolute;
    bottom: 0px;
    left: 200px;
    /* background-color: pink; */
}

.navitems li {
    line-height: 40px;
    margin-left: 25px;
    float: left;
}

.navitems a {
    line-height: 40px;
    font-size: 14px;
    color: #333333;
    float: left;
}
.navitems a:hover {
    color:#f10215;
}

.navitems .spacer {
    float: left;
    margin-top: 15px;
    margin-left: 12px;
    margin-right: -13px;
}

/* header end */


